
<nav class="navbar " >
    <div class="list_left"> 
        <a class="navbar-brand primary-clr " href="#">Js <span>container</span></a>
        <a class="primary-clr link" href="" >Run</a>
        {{> button}}
    </div>


  <div class=" form-inline" id="navbarTogglerDemo02">
    <ul class="d-flex listRight">
      <li class="nav-item ">
        <a class="nav-link link" href="#">Terms and Condition</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link" href="#">Playgrounds</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link" href="#">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link" href="#"><i class="far fa-user">Icon</i></a>
      </li>
    </ul>
  </div>
</nav>