<div class="home_section">

    {{> navbar}}
    <div class="home_content">
        <div class="item-1  comn_pd  ">
            <input type="text" class="bg-gray" placeholder="title">
            <div class="form-floating">
                <textarea class="form-control" placeholder="description" id="floatingTextarea"></textarea>
            </div>
        </div>
        <div class="item-2 comn_pd">
            <div class="tabs bg-gray tabs-menu">
                <div class="tab-header">
                    <ul>
                        <li><a data-tab="assets" class="tab-header-item" href="#">Assets</a></li>
                        <li><a data-tab="settings" class="tab-header-item" href="#">Settings</a></li>
                        <li><a data-tab="access" class="tab-header-item" href="#">Access</a></li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="tab-content-item" data-tab-content="assets">
                        <div class="url_box">
                            <a class="url_link" href="">
                                https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js
                            </a>
                            <div class="url_icons">
                                <a href=""><i class="fas fa-times"></i></a>
                                <a href=""> <i class="fas fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-content-item check_settings" data-tab-content="settings">
                        <div class="form-check form-switch">
                            <div class="switch_btn">
                                <label class="switch mr-2">
                                    <input type="checkbox">
                                    <span class="slider round"></span>
                                </label>
                                <span class="switch_label"  id="flexSwitchCheckChecked">Html5 snippet</span>
                            </div>
                        </div>
                            <div class="switch_btn">
                                <label class="switch mr-2">
                                    <input type="checkbox" name="html5snippet">
                                    <span class="slider round"></span>
                                </label>
                                <span class="switch_label">Private</span>
                            </div>
                         {{!-- <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked />
                        </div> --}}
                    </div>
                    <div class="tab-content-item" data-tab-content="access">
                        <div class="access scroll-bar">
                            <ul class="list_emails ">
                                <li>ilyas@gmail.com<span class="close">&times;</span></li>
                                <li>ilyas@gmail.com<span class="close">&times;</span></li>
                                <li>ilyas@gmail.com<span class="close">&times;</span></li>
                                <li>ilyas@gmail.com<span class="close">&times;</span></li>
                                <li>ilyas@gmail.com<span class="close">&times;</span></li>
                                <li>ilyas@gmail.com<span class="close">&times;</span></li>
                                <li>ilyas@gmail.com<span class="close">&times;</span></li>
                                <div class="d-inline-block">

                                    <input type="email" name="email" placeholder="User email address" id="">
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row1">
        <div class="item-3 comn_pd">
            <div class="tabs bg-gray tabs-language">
                <div class="tab-header">
                    <ul>
                        <li><a data-tab="html" class="tab-header-item" href="#">Html</a></li>
                        <li><a data-tab="css" class="tab-header-item" href="#">Css</a></li>
                        <li><a data-tab="javascript" class="tab-header-item" href="#">Javascript</a></li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="tab-content-item" data-tab-content="html">
                        <div id="html-container"
                            style="position: absolute;left: 14px;right: 14px;top: 45px;bottom: 0px;">loading...</div>
                    </div>
                    <div class="tab-content-item" data-tab-content="css">
                        <div id="css-container"
                            style="position: absolute;left: 14px;right: 14px;top: 45px;bottom: 0px;">loading...</div>
                    </div>
                    <div class="tab-content-item" data-tab-content="javascript">
                        <div id="javascript-container"
                            style="position: absolute;left: 14px;right: 14px;top: 45px;bottom: 0px;">loading...</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item-4 comn_pd ">
            <div class="preview-frame"></div>
        </div>
    </div>

    <form action="/" method="post" class="container-form">
        <input type="hidden" name="html" value="">
        <input type="hidden" name="css" value="">
        <input type="hidden" name="javascript" value="">
        <input type="hidden" name="title" value="">
        <input type="hidden" name="description" value="">
        <input type="hidden" name="access" value="">
        <input type="hidden" name="is_private" value="">
        <input type="hidden" name="inclue_html_5_snippet" value="">
    </form>
</div>

{{>cmCSSAssets}}
{{>cmAssets}}

<script>
var closebtns = document.getElementsByClassName("close");
var i;

for (i = 0; i < closebtns.length; i++) {
  closebtns[i].addEventListener("click", function() {
    this.parentElement.style.display = 'none';
  });
}
</script>