<div class="home_section">

    {{> navbar}}
    <div class="xyz">
        <div class="item-1 comn_pd  ">
            <input type="text" class="bg-gray" placeholder="title">
            <div class="form-floating">
                <textarea class="form-control" placeholder="description" id="floatingTextarea"></textarea>
            </div>
        </div>
        <div class="item-2 comn_pd  ">
            <div class="inner-items bg-gray">
                <div class="sub-header">
                    <ul>
                        <li><a class="sub-link active" href="">Assets</a></li>
                        <li><a class="sub-link" href="">Settings</a></li>
                        <li><a class="sub-link" href="">Access</a></li>
                    </ul>
                </div>
                <div class="setting-body">
                    <div class="url_box">
                        <a class="url_link" href="" >
                            https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js
                        </a>
                        <div class="url_icons">
                            <a href=""><i class="fas fa-times"></i></a>
                            <a href=""> <i class="fas fa-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row1">
        <div class="item-3 comn_pd ">
            <div class="inner-items bg-gray">
                <div class="sub-header">
                    <ul>
                        <li><a class="sub-link active" href="">Html</a></li>
                        <li><a class="sub-link" href="">Css</a></li>
                        <li><a class="sub-link" href="">Javascript</a></li>
                    </ul>
                </div>
                <div class="form-floating">
                    <textarea class="form-control" placeholder="write your code" id="floatingTextarea"></textarea>
                </div>
            </div>
        </div>
        <div class="item-4 comn_pd ">
            <div class="inner-items bg-gray">
                weuqe
            </div>
        </div>
    </div>
</div>