.btn {
  position: relative;
  transition: all 0.2s ease-in;
  .spinner-border {
    left: 8px;
    border-width: 1.8px;
    position: absolute;
    width: 14px;
    height: 14px;
    transition: all 0.2s ease-in;
  }
  &.loading {
    padding-left: 34px;
    padding-right: 23px;
    transition: all 0.2s ease-in;
    opacity: .8;
    pointer-events: none;
  }
}
.custom-btn {
  background: #227de8;
  border-radius: 4px;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  padding: 4px 25px;
  color: #ffffff;
}
.custom-btn:focus {
  box-shadow: none;
}

.btn-xs {
  padding: 7px 7px;
  font-size: 12px;
  line-height: 0.5;
  border-radius: 0.2rem;
}
