.primary-clr {
  color: #665858;
}

.link {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  color: #665858;
  text-decoration: none;
  transition: 0.25s color;
  &:hover,
  &.active {
    color: #227de8;
  }
}

.tab-header-item {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  margin-right: 20px;
  color: #000000;
  text-decoration: none;
  transition: 0.25s all ease-in-out;
}
.active {
  border-bottom: 1px solid;
  color: #227de8 !important;
}

.bg-gray {
  background: #f6f6f6;
}

.content-editor {
  position: absolute;
  left: 14px;
  right: 14px;
  top: 45px;
  bottom: 0px;
}

.footer {
  background: #eee;
  padding: 6px;
  text-align: center;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-container {
  min-height: 100vh;
  &.container-page {
    min-height: auto;
  }
}

.section_comn_pd {
  padding: 15px 15px 11px 15px;
}

span.brand {
  font-weight: bold;
  span {
    color: #227de8;
  }
}

.about-header {
  padding: 20px;
}

.fa-github {
  color: black;
}
