
.not-found{

    height: calc(90vh - 45px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    h1 {
        color: #444444;
        font-weight: 600;
        font-size: 78px;
        letter-spacing: 1px;
        word-spacing: 1px;
        
        
    }
    h2 {
        
        color: #444;
        font-weight: 400;
        font-size: 24px;
    }
}
