
.not-found{

    height: calc(90vh - 45px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    h1 {
        color: #fa7508;
        font-weight: 400;
        font-size: 141px;
        letter-spacing: 1px;
        word-spacing: 1px;
        
        
    }
    h2 {
        
        color: #3f4d5b;
        font-weight: 400;
        font-size: 34px;
        margin-bottom: 16px;
    }
    p{
        
        color: #3f4d5b;
    }
}
