.preview-frame {
  .preview-header {
    background: #f8f8f8;
    padding: 4px 13px;
    display: flex;
    // margin: 0 15px;
    // margin-top: 15px;
    .form-control {
      outline: none !important;
      box-shadow: none !important;
      font-size: 12px;
      width: 250px;
      border-color: darken($color: #fff, $amount: 10) !important;
    }
    .actions {
      margin-left: auto;
    }
  }
  iframe {
    height: calc(100vh - 235px);
    width: 100%;
  }
}
