
.invite-modal{
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    height: 333px;
    max-width: 466px;
    position: absolute;
    inset: 0;
    border: 1px solid #cccccc;
    background: white;
    overflow: auto;
    border-radius: 4px;
    outline: none;
    margin: auto;
    padding-top: 40px;

}
.invite-content {
    max-width: 263px;
    
    h4 {
        font-size: 24px;
        line-height: 28px;
        color: #227DE8;
    }
    p {
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: #000000;
    }
    input{
        background: #F6F6F6;
        padding: 12px 8px;
        width: 100%;
        border: none;
        font-size: 19px;
        line-height: 22px;
        color: #000000;
        &:focus {
            outline: none;
        }
    }
    input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #505050;
      }
      input::-moz-placeholder { /* Firefox 19+ */
        color: #505050;
      }
      input:-ms-input-placeholder { /* IE 10+ */
        color: #505050;
      }
      input:-moz-placeholder { /* Firefox 18- */
        color: #505050;
      }
    button {
        width: 81px;
        background: #227DE8;
        &:focus{
            box-shadow: none;
        }
    }
}

.assets-modal {
    text-align: left;
    align-items: flex-start;
    padding: 14px 18px;
    .modal-header  {
        a {
            color:  #5E5A5A;
            &:focus {
                color: #227DE8;

            }
        }
    }
    .assets-content{
        max-width: 100%;
        width: 100%;
        p {
            text-align: left;
        }
        input {
            margin-bottom: 7px;
            
                
        }
        .cdn-links {
            padding: 17px 14px 16px 9px;
            background: #F8F8F8;
            display: flex;
            justify-content: space-between;
        }
        
    }
}