.playgrounds_section {
    .bubbles {
        position: absolute;
        width: 100%;
        z-index: 0.1;
        .ball {
            border-radius: 100%;
        }
    }
    .content {
        z-index: 0.31;
    }
    .playgrounds_image {
        display: flex;
        overflow: hidden;
        position: relative;
        background: #F4F4F4;
        flex-direction: column;
        justify-content: center;
        padding: 0 20px;
        height: 191px;
        h1 {
            font-family: Open Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 26px;
            line-height: 35px;
            color: #000000;

        }
        p {
            font-size: 16px;
            line-height: 22px;
            color: #313131;
        }
    }
    .cards-section{
        padding: 50px 21px;
        .playgrounds-card {
            width: 408px;
            height: 314px;
            background: #FBFBFB;
            display: inline-block;
            text-align: center;
            padding: 28px 35px;
            margin-right: 35px;
            margin-bottom: 30px;
            h3{
                font-weight: bold;
                font-size: 27px;
                line-height: 37px;
                color: #000000;
            }
            p {
                font-weight: 600;
                font-size: 19px;
                line-height: 26px;
                text-align: center;

                color: #6F6F6F;
            }
            button {
                background: #227DE8;
                border-radius: 12px;
                color: #fff;
                width: 228px;
                padding: 14px 0;
            }
        }
    }
}