.home-section {
  display: flex;
  height: calc(100vh - 45px);
  // .margin-view-overlays {

  //   background-color: #f6f6f6;
  // }
  // .monaco-editor, .monaco-editor-background, .monaco-editor .inputarea.ime-input {
  //   background-color: inherit;
  // }
  .home-content {
    display: flex;
    flex-direction: column;
    border-right: 1px solid #ececec;
    width: 100%;
  }
  .tabs {
    position: relative;
    height: 100%;
    width: 100%;
  }
  .form-section {
    border-bottom: 1px solid #ececec;
    height: 128px;
    input {
      margin-bottom: 10px;
      background: #f6f6f6;
      border: none;
      padding: 9px;
      font-size: 12px;
      width: 100%;
      transition: box-shadow 0.25s, outline 0.25s;

      &:focus-visible {
        outline: none;
      }
    }
    .form-floating {
      height: 75%;
    }
    textarea {
      transition: box-shadow 0.25s, outline 0.25s;
      &:focus-visible {
        outline: none;
      }
      &:focus {
        background: #f6f6f6;
      }
    }
  }
  textarea {
    background: #f6f6f6;
    border: none;
    padding: 9px;
    width: 100%;
    font-size: 12px;
    border-radius: 0s;
    resize: none;
    &:focus {
      box-shadow: none;
      background: #f6f6f6;
    }
  }
  .action-section {
    background: #fff;
    border-bottom: 1px solid #ececec;
    height: 128px;
    .invited-user {
      font-size: 14px;
      background: #e0e0e0;
      border-radius: 64px;
      padding-left: 12px;
      .close {
        font-size: 12px;
        cursor: pointer;
        background: #d6d6d6;

        border-radius: 50%;
        height: 22px;
        width: 22px;
        line-height: 22px;
        text-align: center;

        &:hover {
          background: transparent;
          color: red;
        }
      }
    }
    .url-box {
      display: flex;
      align-items: center;
      width: 75%;
      a {
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 14px;
        font-weight: 500;
      }
      .url_icons {
        display: flex;
        i {
          cursor: pointer;
        }
      }
      .fa-times {
        color: #f11a1a;
        margin-right: 10px;
        font-size: 12px;
      }
      .fa-plus {
        color: #41ef16;
        font-size: 12px;
      }
      .url-link {
        margin-right: 20px;
      }
    }
  }

  .tab-content {
    padding-top: 9px;
    .assets-scroll {
      height: 55px;
      overflow-y: scroll;
    }
  }

  .row1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    // height: calc(100vh - 172px);
  }
  .preview-section {
    padding: 0;
  }
  .code-section {
    // height: calc(100vh - 45px);
    .form-floating {
      height: 95%;
      textarea {
        padding-left: 0;
        height: 95%;
      }
    }
    ul li {
      display: flex;
      align-items: center;

    }
    .setting-icon:hover {
      cursor: pointer;
    }
  }
  .tab-header {
    display: flex;
    justify-content: space-between;
    ul {
      display: flex;
      padding: 0;
      margin: 0;
    }
    ul li {
      list-style-type: none;
    }
  }

  .switch_btn {
    display: flex;
    align-items: center;
  }

  .switch-label {
    font-size: 12px !important;
    font-weight: 600;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 22px;
    height: 12px;
  }
  .form-switch {
    padding-left: 0;
  }
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsl(0deg 0% 77%);
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 0px;
    bottom: 0px;
    border: 1px solid #81b9e6;
    background-color: #2196f3;
    box-shadow: rgb(0 0 0 / 15%) -1px 0 10px 0, rgb(0 0 0 / 5%) 0 4px 6px -2px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  input:checked + .slider {
    background-color: #2196f3;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

  .scroll-bar::-webkit-scrollbar-track {
    background-color: hsl(0deg 0% 83%);
  }

  .scroll-bar::-webkit-scrollbar {
    width: 5px;
  }

  .scroll-bar::-webkit-scrollbar-thumb {
    background-color: hsl(0deg 0% 27%);
    -webkit-box-shadow: inset 0 0 6px hsl(0deg 0% 45%);
  }
  .access {
    max-height: 64px;
    overflow-y: scroll;
    .list_emails {
      list-style-type: none;
      margin: 0;
      padding-left: 0;
    }

    .close:hover {
      background: #bbb;
    }

    input {
      background: white;
      border: none;
      padding: 9px;
      font-size: 12px;
      width: 100%;
      transition: box-shadow 0.25s;
      &:focus-visible {
        outline: none;
      }
    }
  }
}
@media (max-width: 767px) {
  .url-box {
    width: 100% !important;
    .url-link {
      margin-right: 10px !important;
    }
  }
}
