.home-section {
  display: flex;
  height: calc(100vh - 45px);
  width: 100%;
  .margin-view-overlays {
    background-color: #f6f6f6;
  }
  .monaco-editor,
  .monaco-editor-background,
  .monaco-editor .inputarea.ime-input {
    background-color: #f6f6f6;
  }
  .home-content {
    display: flex;
    flex-direction: column;
    border-right: 1px solid #ececec;
    width: 100%;
  }
  .form-section {
    border-bottom: 1px solid #ececec;
    height: 128px;
    input {
      margin-bottom: 10px;
      background: #f6f6f6;
      border: none;
      padding: 9px;
      font-size: 12px;
      width: 100%;
      transition: box-shadow 0.25s, outline 0.25s;

      &:focus-visible {
        outline: none;
      }
    }
    .form-floating {
      height: 75%;
    }
    textarea {
      transition: box-shadow 0.25s, outline 0.25s;
      &:focus-visible {
        outline: none;
      }
      &:focus {
        background: #f6f6f6;
      }
    }
  }
  textarea {
    background: #f6f6f6;
    border: none;
    padding: 9px;
    width: 100%;
    font-size: 12px;
    border-radius: 0s;
    resize: none;
    &:focus {
      box-shadow: none;
      background: #f6f6f6;
    }
  }

  .action-section {
    border-bottom: 1px solid #ececec;
    height: 128px;
    width: 100%;
    .invited-user {
      font-size: 14px;
      background: #e0e0e0;
      border-radius: 64px;
      padding-left: 12px;
      .close {
        font-size: 12px;
        cursor: pointer;
        background: #d6d6d6;

        border-radius: 50%;
        height: 22px;
        width: 22px;
        line-height: 22px;
        text-align: center;

        &:hover {
          background: transparent;
          color: red;
        }
      }
    }
  }

  .tab-content {
    padding-top: 9px;
    .assets-scroll {
      height: 55px;
      overflow-y: scroll;
    }
  }

  .row1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    // height: calc(100vh - 172px);
  }
  .preview-section {
    padding: 0;
  }
  .code-section {
    // height: calc(100vh - 45px);
    .form-floating {
      height: 95%;
      textarea {
        padding-left: 0;
        height: 95%;
      }
    }
    ul li {
      display: flex;
      align-items: center;
    }
    .setting-icon {
      padding-right: 10px;

      &:hover {
        cursor: pointer;
      }
    }
  }
  .tab-header {
    display: flex;
    justify-content: space-between;
    ul {
      display: flex;
      padding: 0;
      margin: 0;
    }
    ul li {
      list-style-type: none;
    }
  }

  .access {
    max-height: 64px;
    overflow-y: scroll;
    .list_emails {
      list-style-type: none;
      margin: 0;
      padding-left: 0;
    }

    .close:hover {
      background: #bbb;
    }

    input {
      background: white;
      border: none;
      padding: 9px;
      font-size: 12px;
      width: 100%;
      transition: box-shadow 0.25s;
      &:focus-visible {
        outline: none;
      }
    }
  }
}
@media (max-width: 767px) {
  .url-box {
    width: 100% !important;
    .url-link {
      margin-right: 10px !important;
    }
  }
}

.url-box {
  display: flex;
  a {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: 500;
  }
  .url_icons {
    display: flex;
    i {
      cursor: pointer;
    }
  }
  .fa-times {
    color: #f11a1a;
    margin-right: 10px;
    font-size: 12px;
  }
  .fa-plus {
    color: #41ef16;
    font-size: 12px;
  }
  .url-link {
    margin-right: 20px;
  }
}
