html,
body {
  padding: 0;
  margin: 0;
  // font-family: lato, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  //   Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  // font-family: 'Open Sans', sans-serif;
  font-family: "Mulish", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  color: #227de8;
}

* {
  box-sizing: border-box;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: all 400ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transform: translateY(-20px);
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  transform: translateY(0px);
}

.react-menu-reset {
  padding: 0;
  .rc-menu__item {
    padding: 0;
    &:hover,
    &:focus {
      cursor: inherit;
      background: transparent;
    }
  }
}
